
    nav {
      background-color: #6E675F;
    }
    nav a {
      color: white;
      margin: 10px;
      text-decoration: none;
    }
    .main-content {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }
    article {
      flex: 3;
      background: #A39594;
      padding: 20px;
      border-radius: 5px;
    }
    aside {
      flex: 1;
      background: #E3B23C;
      padding: 20px;
      border-radius: 5px;
    }
    footer {
      background-color: #6E675F;
      color: white;
      text-align: center;
      padding: 10px;
      margin-top: 20px;
    }
    
    @media (max-width: 768px) {
      .main-content {
        flex-direction: column;
      }
    }

